software
old
.DS_Store
.vscode
certs
misc
*.appx
Auction*.exe
ShopGoodwill*.exe
*.pkg
*.log
*.db
*.db:encryptable
*.bak
*.mov
download/Snipeable.exe
download/Snipeable.dmg
download/Snipeable.exe
download/Snipeable.exe
download/Snipeable.exe
*.exe
